<!--Menu Navigation-->
<header>
  <!--Navbar-->
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg bg">
    <!-- Logo no canto direito -->
    <logo>
      <a class="navbar-brand">
        <strong class="text-white">
          <img src="../../../assets/img/logo-stb-branco.png" style="width: 90px;">
        </strong>
      </a>
    </logo>
    <links>
      <!-- Menu -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" mdbWavesEffect>DASHBOARD
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/table" mdbWavesEffect>CADASTRO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/modals" mdbWavesEffect>ESTOQUE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/modals" mdbWavesEffect>FINANCEIRO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" mdbWavesEffect>RELATÓRIOS</a>
        </li>
      </ul>
      <!-- Menu -->

      <!-- Informações do usuário -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light pb-0" mdbWavesEffect>
            <label>Nome</label>
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">exemplo 1</a>
            <a class="dropdown-item" href="#">exemplo 2</a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-sign-out-alt"></i>
              <label class="ml-1 mb-0">Sair</label>
            </a>
          </div>
        </li>
      </ul>
    </links>
    <!-- Informações do usuário -->
  </mdb-navbar>
  <!--/ fim nav bar-->
</header>
